*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.SearchBtn1{
    margin-top: 3%;
    width:164px;
    height: 43px;
    background: #3662D8;
    color: #FFFFFF;
    border-radius: 0.5rem;
    position: relative;
}
.calenderWrapper{
    display:flex;
    justify-content: space-around;
    margin-right: 21%;
    margin-bottom: 20px;
}