.adminFlightMai {
  position: relative;
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.adminFlightMai > .adminFlightBox {
  width: 65%;
  height: 50%;
  padding: 20px 40px 20px 20px;
  transform: scale(0.9);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
  backdrop-filter: blue(5px);
  border: 1px solid white;
  margin: auto;
}


.adminFlightMai > .adminSideBr {
  position: fixed;
  left: 0;
  /* top: 0; */
  gap: 20px;
  height: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  flex-direction: column;
  padding: 30px 20px;
  color: white;
  border-right: 1px solid #fff;
}
.adminFlightMai > .adminSideBr > h1:hover {
  color: #3c996e;
  font-size: 20px;
  border-bottom: 2px solid #3c996e;
}

.adminFlightMai > .adminFlightBox > .adminHead {
  padding: 20px;
  color: white;
  /* border: 1px solid black; */
}
.adminFlightMai > .adminFlightBox > .adminHead > h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.adminFlightMai > .adminFlightBox > .adminFlightInputs form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-size: large;
}

.adminFlightMai
  > .adminFlightBox
  > .adminFlightInputs
  form
  > .adminFlightInputBx {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
  /* border: 1px solid black; */
}

.adminFlightMai
  > .adminFlightBox
  > .adminFlightInputs
  form
  > .adminFlightInputBx
  > input {
  width: 70%;
  padding: 7px 20px;
  background: transparent;
  outline: none;
  border: 1px solid white;
}
.adminFlightMai
  > .adminFlightBox
  > .adminFlightInputs
  form
  > .adminFlightInputBx
  > label {
  width: 30%;
  font-weight: 700;
  /* border: 1px solid black; */
}
.adminFlightMai
  > .adminFlightBox
  > .adminFlightInputs
  form
  > .adminFlightInputBx
  > button {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px 20px;
}
.adminFlightMai > .adminSideBr{
  width: 15%;
  font-size: larger;
}